@font-face {
  font-family: "MullerLight";
  src: local("Muller Light"), local("Muller-Light"), url("../assets/fonts/Light/MullerLight.woff2") format("woff2"), url("../assets/fonts/Light/MullerLight.woff") format("woff"), url("../assets/fonts/Light/MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("Muller-Regular"), url("../assets/fonts/Regular/MullerRegular.woff2") format("woff2"), url("../assets/fonts/Regular/MullerRegular.woff") format("woff"), url("../assets/fonts/Regular/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MullerMedium";
  src: local("Muller Medium"), local("Muller-Medium"), url("../assets/fonts/Medium/MullerMedium.woff2") format("woff2"), url("../assets/fonts/Medium/MullerMedium.woff") format("woff"), url("../assets/fonts/Medium/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MullerBold";
  src: local("Muller Bold"), local("Muller-Bold"), url("../assets/fonts/Bold/MullerBold.woff2") format("woff2"), url("../assets/fonts/Bold/MullerBold.woff") format("woff"), url("../assets/fonts/Bold/MullerBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: Muller;
  color: #fff;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 0.625em;
}
@media (max-width: 67.5em) {
  .wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 62.5em) {
  .wrapper {
    max-width: 900px;
  }
}

.header__info {
  width: 100%;
  padding: 0.625em 0;
  background-color: #3A5AC8;
}
@media (max-width: 49.375em) {
  .header__info {
    display: none;
  }
}

.header__info-inner {
  display: flex;
  justify-content: space-between;
}

.header__info-links {
  display: flex;
  align-items: center;
}

.header__info-name {
  margin-right: 0.5625em;
  font-size: 0.8125rem;
}

.header__info-link {
  display: flex;
  align-items: center;
  margin: 0 0.5625em;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.header__info-link img {
  margin-left: 0.1875em;
}
.header__info-link svg {
  margin-left: 0.3125em;
  width: 11px;
  height: 11px;
  stroke: #fff;
  transition: all 0.3s ease;
}
.header__info-link:hover {
  text-decoration: underline;
}
.header__info-link:hover svg {
  transform: rotate(180deg);
}

.header__info-buttons {
  display: flex;
}
@media (max-width: 56.25em) {
  .header__info-buttons {
    flex-direction: column;
  }
}

.header__info-button {
  display: flex;
  align-items: center;
  margin: 0 1em;
  font-size: 0.8125rem;
}
.header__info-button img {
  margin-right: 0.625em;
}
.header__info-button:hover {
  text-decoration: underline;
}
@media (max-width: 56.25em) {
  .header__info-button {
    margin: 0.3125em auto;
  }
}

.header__main {
  padding: 0.875em 0;
  color: #000;
}
@media (max-width: 49.375em) {
  .header__main {
    background-color: #282828;
  }
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
@media (max-width: 49.375em) {
  .header__burger {
    display: block;
  }
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 8px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 49.375em) {
  .header__menu {
    padding-top: 6.25em;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    background-color: #282828;
    transition: all 0.5s ease;
  }
  .header__menu.active {
    top: 0;
  }
}

.header__main-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 49.375em) {
  .header__main-logo {
    display: none;
  }
}

.burger__menu {
  display: none;
}
@media (max-width: 49.375em) {
  .burger__menu {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.header__main-search {
  width: 271px;
  position: relative;
}
.header__main-search input {
  width: 100%;
  padding: 0.59375em 0.5em;
  padding-left: 1.875em;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  background-color: #F4F4F4;
  outline: none;
}
.header__main-search input:focus, .header__main-search input:active {
  border: 1px solid #343434;
}
.header__main-search img {
  position: absolute;
  top: 11px;
  left: 10px;
}

.header__main-info {
  display: flex;
  align-items: center;
}
@media (max-width: 56.25em) {
  .header__main-info {
    flex-direction: column-reverse;
  }
}

.header__main-link {
  display: flex;
  align-items: center;
  margin: 0 0.875em;
}
.header__main-link h1 {
  font-size: 0.8125rem;
  font-family: MullerLight;
}
.header__main-link img {
  margin-right: 0.75em;
}
.header__main-link:hover h1 {
  text-decoration: underline;
}
@media (max-width: 56.25em) {
  .header__main-link {
    margin: 0.3125em 0;
  }
}
@media (max-width: 49.375em) {
  .header__main-link {
    display: none;
  }
  .header__main-link.burger-links {
    display: flex;
  }
}

.header__main-numbers {
  display: flex;
  flex-direction: column;
}
.header__main-numbers a {
  margin: 0.125em 0;
  font-weight: 600;
  font-size: 0.8125rem;
}
.header__main-numbers a:hover {
  text-decoration: underline;
}

nav {
  padding: 1em 0;
  background-color: #F4F4F4;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links > li {
  position: relative;
  list-style: none;
}
.nav__links > li:last-child {
  margin: 0;
}
.nav__links > li:hover .nav__submenu {
  display: block;
}
@media (max-width: 49.375em) {
  .nav__links > li:last-child {
    margin: 0.9375em 0;
  }
}
@media (max-width: 49.375em) {
  .nav__links {
    flex-direction: column;
  }
}

.nav__link-name {
  display: flex;
  align-items: center;
}
.nav__link-name svg {
  margin-left: 0.625em;
  width: 11px;
  height: 11px;
  stroke: #282828;
  transition: all 0.3s ease;
}
@media (max-width: 49.375em) {
  .nav__link-name svg {
    width: 22px;
    height: 22px;
    stroke: #fff;
  }
}
.nav__link-name:hover svg {
  transform: rotate(180deg);
}

.nav__link {
  margin-right: 0.5em;
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #282828;
}
@media (max-width: 49.375em) {
  .nav__link {
    margin: 0.625em 0;
    color: #fff;
    font-size: 1rem;
  }
  .nav__link:last-child {
    margin: 0.9375em 0;
  }
}

.nav__submenu {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
  padding-top: 0.625em;
  transition: all 0.3s ease;
}
.nav__submenu li {
  list-style: none;
}
@media (max-width: 49.375em) {
  .nav__submenu {
    position: static;
    top: 0;
    padding-top: 0;
  }
}

.nav__sublink {
  padding: 0.9375em 0.625em;
  width: 100%;
  background-color: #282828;
  display: inline-block;
  font-size: 0.75rem;
  transition: all 0.3s ease;
}
.nav__sublink:hover {
  text-decoration: underline;
}
@media (max-width: 49.375em) {
  .nav__sublink {
    padding: 0.4375em 0.625em;
    font-size: 0.875rem;
    background: none;
    font-family: MullerLight;
  }
}

.intro {
  position: relative;
}
@media (max-width: 67.5em) {
  .intro {
    display: none;
  }
}

.intro__slider-bg img {
  width: 100%;
}

.intro__slider-inner {
  position: absolute;
  top: 50px;
}
@media (max-width: 78.125em) {
  .intro__slider-inner {
    top: 25px;
  }
}
@media (max-width: 73.4375em) {
  .intro__slider-inner {
    top: 15px;
    left: 10%;
  }
}

.intro__slider-title {
  margin-bottom: 0.75em;
  font-size: 2rem;
  font-family: MullerBold;
}

.intro__slider-subtitle {
  max-width: 478px;
  margin-bottom: 3.125em;
  font-size: 0.8125rem;
  line-height: 1.61;
}

.intro__slider-button {
  padding: 1.125em 1em 1.125em 1.5em;
  justify-content: space-between;
  align-items: center;
  max-width: 232px;
  display: flex;
  box-shadow: 0px 4px 20px 0px rgba(51, 39, 60, 0.2);
  background-color: #3A5AC8;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.intro__slider-button h1 {
  font-size: 0.8125rem;
  font-family: MullerMedium;
}
.intro__slider-button:hover {
  background-color: #202e5a;
}
.intro__slider-button.doc-btn {
  max-width: 275px;
  height: 58px;
}
.intro__slider-button.doc-btn h1 {
  margin-right: 2em;
}
@media (max-width: 40.625em) {
  .intro__slider-button.doc-btn {
    padding: 0.625em;
    max-width: 230px;
    height: 40px;
  }
  .intro__slider-button.doc-btn h1 {
    margin-right: 0.5em;
    font-size: 0.75rem;
  }
}
@media (max-width: 31.3125em) {
  .intro__slider-button.doc-btn {
    margin: 0.9375em auto;
  }
}
.intro__slider-button.seminar-btn {
  height: 78px;
  line-height: 1.6;
  text-decoration: underline;
}
@media (max-width: 40.625em) {
  .intro__slider-button.seminar-btn {
    max-width: 200px;
    margin: 0;
  }
}
@media (max-width: 31.875em) {
  .intro__slider-button.seminar-btn {
    height: 50px;
    max-width: 250px;
    margin: 0 auto;
  }
  .intro__slider-button.seminar-btn h1 {
    font-size: 0.75rem;
  }
}
@media (max-width: 40.625em) {
  .intro__slider-button {
    padding: 0.625em;
    max-width: 150px;
    margin: 0 auto;
  }
  .intro__slider-button h1 {
    margin-right: 0.5em;
    font-size: 0.75rem;
  }
}

.intro__slider {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.intro__sliders .slick-arrow {
  top: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 10;
  background: rgba(58, 90, 200, 0.2);
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 0;
  transition: all 0.15s ease;
}
.intro__sliders .slick-arrow:hover {
  background: rgb(58, 90, 200);
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro__sliders .slick-prev {
  left: 1%;
}

.intro__sliders .slick-next {
  right: 1%;
  transform: rotate(180deg);
}

.intro__sliders .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.intro__sliders .slick-dots li {
  margin-right: 12px;
  list-style: none;
}

.intro__sliders .slick-dots li.slick-active button {
  background-color: #3A5AC8;
  border-color: #3A5AC8;
}

.intro__sliders .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 16px;
  border: 2px solid #FFF;
  border-radius: 50%;
  background: none;
}

.education {
  padding: 2.5em 0;
}
@media (max-width: 56.875em) {
  .education {
    padding: 1.25em 0;
  }
}

.education__inner {
  display: flex;
}
@media (max-width: 67.5em) {
  .education__inner {
    flex-direction: column;
  }
}

.seminar-title {
  margin-right: 1.25em;
}
@media (max-width: 67.5em) {
  .seminar-title {
    width: 100%;
    padding: 3.75em 0;
  }
}

.section__title {
  margin-bottom: 1.25em;
  color: #282828;
  font-size: 2rem;
  font-family: MullerBold;
}
.section__title.feedback-title {
  text-align: center;
  color: #fff;
}
.section__title.learning-title {
  max-width: 782px;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1.3;
}
.section__title.table-title {
  font-size: 1rem;
  margin: 1.25em 0 0.625em 0.9375em;
}
@media (max-width: 40.625em) {
  .section__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 31.25em) {
  .section__title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto 0.625em auto;
  }
}

.seminar__item-link:hover .seminar__item {
  background-color: rgb(224, 224, 224);
}

.seminar__item {
  max-width: 440px;
  margin-bottom: 0.625em;
  padding: 1.0625em 1em;
  padding-right: 3.125em;
  transition: all 0.3s ease;
  background-color: #F4F4F4;
}
@media (max-width: 67.5em) {
  .seminar__item {
    max-width: 100%;
  }
}

.seminar__item-title {
  margin-bottom: 1.25em;
  display: flex;
  align-items: center;
}
.seminar__item-title.sidebar {
  flex-direction: column;
  align-items: baseline;
}
.seminar__item-title.sidebar h1 {
  margin: 0 0 0.3125em 0;
}

.seminar__item-date {
  margin-right: 1.125em;
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #3A5AC8;
}

.seminar__item-name {
  font-size: 0.75rem;
  font-weight: MullerMedium;
  color: #B8B8B8;
}

.seminar__item-subtitle {
  margin-bottom: 1em;
  font-size: 0.8125rem;
  text-decoration: underline;
  color: #282828;
  line-height: 1.6;
}

.seminar__item-period {
  display: flex;
  align-items: center;
}

.seminar__item-days {
  margin-right: 1.125em;
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #282828;
}

.seminar__item-price {
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #282828;
}

.more__button {
  margin-top: 1.5em;
}
.more__button a {
  display: flex;
  align-items: center;
}
.more__button a h1 {
  margin-right: 0.75em;
  font-size: 0.8125rem;
  font-family: MullerBold;
  color: #3A5AC8;
}
.more__button:hover a h1 {
  text-decoration: underline;
}
.more__button.btn-team {
  margin-top: 0;
}
@media (max-width: 67.5em) {
  .more__button {
    max-width: 100px;
    display: flex;
    margin: 2.5em 0;
  }
  .more__button.btn-team, .more__button.btn-reviews {
    display: none;
  }
}
@media (max-width: 31.3125em) {
  .more__button {
    margin: 0.3125em auto;
  }
}

.training__columns {
  display: flex;
}
@media (max-width: 67.5em) {
  .training__columns {
    flex-direction: column;
    justify-content: center;
  }
}

.training__column {
  margin-right: 1.25em;
}
.training__column:last-child {
  margin: 0;
}
@media (max-width: 67.5em) {
  .training__column {
    margin: 0;
  }
}

.training__item {
  display: flex;
  height: 56px;
  margin-bottom: 0.75em;
  align-items: center;
  padding: 0.8125em 0.9375em;
  padding-right: 3.875em;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.training__item:hover {
  background-color: #3A5AC8;
  border-color: #3A5AC8;
}
.training__item:hover .training__item-name {
  color: #fff;
}
.training__item:hover svg {
  fill: #fff;
}
.training__item svg {
  width: 32px;
  height: 32px;
  fill: #3A5AC8;
  transition: all 0.3s ease;
}
@media (max-width: 67.5em) {
  .training__item {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.9375em;
  }
  .training__item svg {
    width: 64px;
    height: 64px;
  }
}

.training__item-name {
  max-width: 147px;
  margin-left: 0.625em;
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #282828;
  line-height: 1.6;
  transition: all 0.3s ease;
}
@media (max-width: 67.5em) {
  .training__item-name {
    max-width: 100%;
  }
}

.team {
  padding: 3.75em 0;
  background-color: #F4F4F4;
}
@media (max-width: 56.875em) {
  .team {
    padding: 1.25em 0;
  }
}

.team__title {
  display: flex;
  justify-content: space-between;
}

.team__subtitle {
  max-width: 610px;
  margin-bottom: 2em;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.3125em) {
  .team__subtitle {
    font-size: 0.6875rem;
    text-align: center;
  }
}

.team__sliders {
  position: relative;
}

.team__photo {
  margin: 0 auto;
}

.team__name {
  margin: 0.9375em 0;
  font-size: 1rem;
  font-family: MullerBold;
  color: #282828;
  text-align: center;
}

.team__post {
  text-align: center;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}

.team__sliders .slick-arrow {
  top: 40%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 10;
  background: #CBCBCB;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 0;
  transition: all 0.15s ease;
}
.team__sliders .slick-arrow:hover {
  background: #b3b3b3;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 56.875em) {
  .team__sliders .slick-arrow {
    top: 30%;
  }
}

.team__sliders .slick-prev {
  left: -50px;
}
@media (max-width: 78.125em) {
  .team__sliders .slick-prev {
    left: 20px;
  }
}
@media (max-width: 56.875em) {
  .team__sliders .slick-prev {
    left: 0;
  }
}

.team__sliders .slick-next {
  right: -50px;
  transform: rotate(180deg);
}
@media (max-width: 78.125em) {
  .team__sliders .slick-next {
    right: 20px;
  }
}
@media (max-width: 56.875em) {
  .team__sliders .slick-next {
    right: 0;
  }
}

.feedback {
  padding: 3.75em 0;
  background: url(../assets/img/feedback-bg.jpg);
}
@media (max-width: 56.875em) {
  .feedback {
    padding: 1.25em 0;
  }
}

.feedback__subtitle {
  margin: 0 auto 2em auto;
  max-width: 480px;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 1.6;
}
.feedback__subtitle a {
  text-decoration: underline;
}
@media (max-width: 31.3125em) {
  .feedback__subtitle {
    font-size: 0.6875rem;
    text-align: center;
  }
}

.feedback__form button {
  padding: 1.125em 1em 1.125em 1.5em;
  margin: 1.25em auto 0.75em auto;
  justify-content: space-between;
  align-items: center;
  width: 232px;
  display: flex;
  background-color: #3A5AC8;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feedback__form button h1 {
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #fff;
}
.feedback__form button:hover {
  background-color: #0c1d55;
}
@media (max-width: 40.625em) {
  .feedback__form button {
    max-width: 150px;
    margin: 0.9375em auto;
    padding: 0.625em;
  }
  .feedback__form button h1 {
    font-size: 0.6875rem;
  }
}

.form__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.25em;
}
@media (max-width: 31.3125em) {
  .form__info {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.form__area {
  width: 33.333%;
  margin-right: 0.625em;
  padding: 1.5em 1.25em;
  font-size: 0.75rem;
  font-family: MullerBold;
  outline: none;
  border: 1px solid #DCDDE2;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.form__area:active, .form__area:focus {
  box-shadow: 0px 0px 44px -5px rgb(255, 255, 255);
}
.form__area::-moz-placeholder {
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #B8B8B8;
  text-align: center;
}
.form__area:-ms-input-placeholder {
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #B8B8B8;
  text-align: center;
}
.form__area::placeholder {
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #B8B8B8;
  text-align: center;
}
.form__area:last-child {
  margin-right: 0;
}
.form__area.message {
  width: 100%;
}
.form__area.select {
  width: 67%;
}
@media (max-width: 40.625em) {
  .form__area.select {
    width: 100%;
    margin-bottom: 0.625em;
  }
}
.form__area.date {
  width: 33%;
}
@media (max-width: 40.625em) {
  .form__area.date {
    width: 100%;
  }
}
@media (max-width: 31.3125em) {
  .form__area {
    width: 100%;
    margin: 0.625em 0;
  }
}

.form__select {
  display: flex;
}
@media (max-width: 40.625em) {
  .form__select {
    flex-direction: column;
  }
}

.feedback__license {
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.5;
}

.learning {
  padding: 3.75em 0;
}
@media (max-width: 56.875em) {
  .learning {
    padding: 1.25em 0;
  }
}

.learning__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 56.875em) {
  .learning__main {
    flex-direction: column-reverse;
  }
}

@media (max-width: 56.875em) {
  .learning__main-img {
    margin-bottom: 1.25em;
  }
}

.learning__main-info {
  margin-right: 1.25em;
}
.learning__main-info p {
  max-width: 440px;
  margin-bottom: 2.625em;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.3125em) {
  .learning__main-info p {
    font-size: 0.6875rem;
    text-align: center;
  }
}
@media (max-width: 31.3125em) {
  .learning__main-info {
    margin: 0;
  }
}

.documents {
  padding: 3.75em 0;
  background-color: #F4F4F4;
}
@media (max-width: 56.875em) {
  .documents {
    padding: 1.25em 0;
  }
}

.documents__title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 31.3125em) {
  .documents__title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.documents__subtitle {
  max-width: 549px;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.3125em) {
  .documents__subtitle {
    font-size: 0.6875rem;
    text-align: center;
  }
}

.documents__licenses {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.875em) {
  .documents__licenses {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 56.875em) {
  .documents__license {
    margin: 0.3125em;
  }
}

.documents__certs {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.875em) {
  .documents__certs {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 56.875em) {
  .documents__cert {
    margin: 0.3125em;
  }
}

@media (max-width: 56.875em) {
  .documents__license {
    margin: 0.3125em;
  }
}

.reviews {
  padding: 3.75em 0;
}
@media (max-width: 56.875em) {
  .reviews {
    padding: 1.25em 0;
  }
}

.reviews__title {
  display: flex;
  justify-content: space-between;
}

.reviews__items {
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  position: relative;
  padding: 1.875em;
  margin: 0 0.625em;
  background-color: #F4F4F4;
}

.review__paragraph {
  max-width: 380px;
  margin-bottom: 1.4375em;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.3125em) {
  .review__paragraph {
    text-align: center;
    margin-bottom: 1.5625em;
  }
}

.review__author {
  display: flex;
  align-items: center;
}
@media (max-width: 31.3125em) {
  .review__author {
    justify-content: space-between;
  }
}

.author__photo {
  margin-right: 1.5em;
}

.author__personal {
  margin-right: 1.5em;
}
@media (max-width: 31.3125em) {
  .author__personal {
    text-align: center;
  }
}

.author__name {
  margin-bottom: 0.5em;
  font-size: 1rem;
  color: #282828;
  font-family: MullerBold;
}

.author__post {
  max-width: 152px;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}

@media (max-width: 31.3125em) {
  .author__sign {
    display: none !important;
  }
}

.review__mark {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 10;
}

.reviews__items .slick-arrow {
  top: 45%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 10;
  background: #CBCBCB;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 0;
  transition: all 0.15s ease;
}
.reviews__items .slick-arrow:hover {
  background: #b3b3b3;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__items .slick-prev {
  left: -80px;
}
@media (max-width: 78.125em) {
  .reviews__items .slick-prev {
    left: 0;
  }
}

.reviews__items .slick-next {
  right: -80px;
  transform: rotate(180deg);
}
@media (max-width: 78.125em) {
  .reviews__items .slick-next {
    right: 0;
  }
}

.benefits {
  padding: 3.75em 0;
  background-color: #F4F4F4;
}
@media (max-width: 56.875em) {
  .benefits {
    padding: 1.25em 0;
  }
}

.center {
  text-align: center;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 56.875em) {
  .benefits__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.benefits__item {
  text-align: center;
  margin: 0.3125em;
}
.benefits__item img {
  margin: 0 auto 1.125em auto;
}

.benefits__title {
  margin-bottom: 1.125em;
  font-size: 1rem;
  font-family: MullerBold;
  color: #000;
}

.benefits__subtitle {
  max-width: 210px;
  font-size: 0.75rem;
  line-height: 1.6;
  color: #282828;
}

.news {
  padding: 3.75em 0;
}
@media (max-width: 56.875em) {
  .news {
    padding: 1.25em 0;
  }
}

.news__title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 31.3125em) {
  .news__title {
    flex-direction: column;
  }
}

.news__cards {
  display: flex;
}

.news__card {
  margin: 0 0.6875em;
}
.news__card img {
  width: 100%;
}

.news__card-main {
  padding: 1.25em;
  background-color: #F4F4F4;
  border-radius: 0 0 4px 4px;
}

.news__card-date {
  margin-bottom: 0.75em;
  font-size: 0.75rem;
  font-family: MullerBold;
  color: #3A5AC8;
}

.news__card-title {
  margin-bottom: 0.75em;
  color: #282828;
  font-family: MullerBold;
}

.news__card-subtitle {
  margin-bottom: 0.75em;
  max-width: 246px;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}

.news__card-btn {
  padding: 1.125em 1em 1.125em 1.5em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #3A5AC8;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.news__card-btn h1 {
  font-size: 0.8125rem;
  font-family: MullerMedium;
}
.news__card-btn img {
  width: 22px;
  height: 22px;
}
.news__card-btn:hover {
  background-color: #202e5a;
}
@media (max-width: 40.625em) {
  .news__card-btn {
    max-width: 150px;
    padding: 0.625em;
    margin: 0 auto;
  }
  .news__card-btn h1 {
    font-size: 0.6875rem;
  }
}

.news__cards .slick-arrow {
  top: 45%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 10;
  background: #CBCBCB;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 0;
  transition: all 0.15s ease;
}
.news__cards .slick-arrow:hover {
  background: #b3b3b3;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.news__cards .slick-prev {
  left: -80px;
}
@media (max-width: 78.125em) {
  .news__cards .slick-prev {
    left: 0;
  }
}

.news__cards .slick-next {
  right: -80px;
  transform: rotate(180deg);
}
@media (max-width: 78.125em) {
  .news__cards .slick-next {
    right: 0;
  }
}

.partners {
  padding: 3.75em 0;
  background-color: #f4f4f4;
}
@media (max-width: 56.875em) {
  .partners {
    padding: 1.25em 0;
  }
}

.partners__card img {
  margin: 0 auto;
}

.partners__cards .slick-arrow {
  top: 40%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 10;
  background: #CBCBCB;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  font-size: 0;
  transition: all 0.15s ease;
}
.partners__cards .slick-arrow:hover {
  background: #b3b3b3;
  background-image: url("../assets/img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.partners__cards .slick-prev {
  left: -80px;
}
@media (max-width: 78.125em) {
  .partners__cards .slick-prev {
    left: 35px;
  }
}
@media (max-width: 56.875em) {
  .partners__cards .slick-prev {
    left: 0;
  }
}

.partners__cards .slick-next {
  right: -80px;
  transform: rotate(180deg);
}
@media (max-width: 78.125em) {
  .partners__cards .slick-next {
    right: 35px;
  }
}
@media (max-width: 56.875em) {
  .partners__cards .slick-next {
    right: 0;
  }
}

.map {
  height: 330px;
  background: url(../assets/img/map.png);
}

footer {
  padding: 5em 0 2.5em 0;
}

.footer__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__inner::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -40px;
  background-color: #F0F0F0;
}
@media (max-width: 40.625em) {
  .footer__inner {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__left {
  display: flex;
  align-items: center;
}
@media (max-width: 40.625em) {
  .footer__left {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__info {
  margin-right: 6.25em;
}
@media (max-width: 40.625em) {
  .footer__info {
    margin: 0;
  }
}

.footer__links {
  font-size: 0.75rem;
  color: #000;
}
.footer__links li {
  margin-bottom: 1.25em;
}
.footer__links li:hover a {
  text-decoration: underline;
}
@media (max-width: 40.625em) {
  .footer__links {
    margin: 1.25em 0;
    text-align: center;
  }
}

.footer__social {
  margin-top: 2.4375em;
  display: flex;
}
.footer__social a {
  margin-right: 0.5em;
  transition: all 0.3s ease;
}
.footer__social a:hover {
  transform: translateY(-20%);
}
@media (max-width: 40.625em) {
  .footer__social {
    justify-content: space-between;
  }
  .footer__social a {
    margin: 0;
  }
}

.footer__contact {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
  cursor: pointer;
}
.footer__contact:hover a {
  text-decoration: underline;
}
.footer__contact a {
  font-size: 0.8125rem;
  font-family: MullerBold;
  color: #282828;
}
.footer__contact img {
  margin-right: 0.75em;
}

.main {
  padding: 3.75em 0;
}
@media (max-width: 56.875em) {
  .main {
    padding: 1.25em 0;
  }
}

.main__inner {
  display: flex;
  justify-content: center;
}

.main__sidebar {
  max-width: 273px;
  margin-right: 2.5em;
}
@media (max-width: 56.875em) {
  .main__sidebar {
    display: none;
  }
}

.sidebar__title {
  position: relative;
  margin-bottom: 1.875em;
  font-size: 1rem;
  font-family: MullerBold;
  color: #000;
}
.sidebar__title::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
}
.sidebar__title.seminar::after {
  display: none;
}

.section__suptitle {
  margin-bottom: 1.25em;
  font-size: 1rem;
  font-family: MullerBold;
  text-transform: uppercase;
  color: #3A5AC8;
}

.sidebar__checkboxes {
  margin-bottom: 2.5em;
}

.sidebar__checkbox {
  margin-bottom: 0.75em;
  display: flex;
  align-items: center;
}
.sidebar__checkbox input {
  margin: 0;
  margin-right: 0.8125em;
}
.sidebar__checkbox label {
  font-size: 0.8125rem;
  color: #000;
}

.direction__item {
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.direction__item svg {
  width: 32px;
  height: 32px;
  fill: #3A5AC8;
  transition: all 0.3s ease;
}
.direction__item h1 {
  margin-left: 0.625em;
  font-size: 0.8125rem;
  color: #282828;
  transition: all 0.3s ease;
}
.direction__item:hover {
  background-color: #3A5AC8;
  box-shadow: 0px 2px 30px 0px rgba(58, 90, 200, 0.1490196078);
}
.direction__item:hover svg {
  fill: #fff;
}
.direction__item:hover h1 {
  color: #fff;
}
.direction__item:last-child {
  margin-bottom: 2.5em;
}

.main__info {
  width: 587px;
}

.info__intro {
  display: flex;
}
@media (max-width: 31.875em) {
  .info__intro {
    flex-direction: column;
  }
}

.info__paragraph {
  max-width: 295px;
  margin-right: 3.75em;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.875em) {
  .info__paragraph {
    max-width: 100%;
    text-align: center;
    margin: 0 0 0.625em 0;
  }
}

.info__tables {
  margin-top: 2.5em;
}

.tables__choose {
  position: relative;
}
.tables__choose::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #3A5AC8;
}
.tables__choose a {
  margin-right: 0.75em;
  padding: 0.625em 0.75em;
  font-size: 0.8125rem;
  color: #282828;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.tables__choose a:hover {
  background-color: #3A5AC8;
  color: #fff;
}
@media (max-width: 40.625em) {
  .tables__choose {
    display: none;
  }
}

.tables__rubrik {
  margin-top: 1.5625em;
  display: flex;
  align-items: center;
}
.tables__rubrik h1 {
  margin-right: 0.75em;
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #282828;
}
@media (max-width: 40.625em) {
  .tables__rubrik {
    flex-direction: column;
    align-items: start;
  }
  .tables__rubrik h1 {
    text-align: left;
    margin: 0 0 0.9375em 0;
  }
}
@media (max-width: 31.875em) {
  .tables__rubrik {
    align-items: center;
  }
}

.rubrik__links {
  display: flex;
}
.rubrik__links a {
  padding: 0.3125em 0.75em;
  margin-right: 0.5em;
  border: 1px solid #3A5AC8;
  border-radius: 2px;
  font-size: 0.75rem;
  color: #3A5AC8;
  font-family: MullerMedium;
  transition: all 0.3s ease;
}
.rubrik__links a:hover {
  color: #fff;
  background-color: #3A5AC8;
}
@media (max-width: 40.625em) {
  .rubrik__links {
    flex-direction: column;
  }
  .rubrik__links a {
    margin: 0 0 0.3125em 0;
    text-align: left;
  }
}
@media (max-width: 31.875em) {
  .rubrik__links a {
    text-align: center;
  }
}

table {
  margin: 1.875em 0;
  margin-bottom: 2.5em;
  color: #282828;
}
table .table__header {
  color: #282828;
  position: relative;
  text-align: left;
}
table .table__header::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #B8B8B8;
}
table tr {
  text-align: left;
}
table tr td {
  padding: 0.625em 1.25em;
  margin: 0 0.125em;
  font-size: 0.8125rem;
  line-height: 1.6;
  text-align: center;
}

.td__first {
  background: rgba(58, 90, 200, 0.15);
  border-radius: 2px;
}

.column {
  text-decoration: underline;
}

.tables__paragraph {
  margin-top: 1.875em;
  font-size: 0.8125rem;
  color: #282828;
  line-height: 1.6;
}
@media (max-width: 31.875em) {
  .tables__paragraph {
    font-size: 0.75rem;
    text-align: center;
  }
}

.info__learning {
  margin: 1.25em 0;
}
.info__learning h1 {
  margin-bottom: 0.75em;
  font-size: 0.8125rem;
  font-family: MullerBold;
  color: #282828;
}
@media (max-width: 40.625em) {
  .info__learning h1 {
    text-align: center;
  }
}
.info__learning h2 {
  max-width: 171px;
  padding: 0.75em 0.75em;
  font-size: 0.8125rem;
  background: #3A5AC8;
  box-shadow: 0px 2px 30px rgba(58, 90, 200, 0.08);
  border-radius: 2px;
}
@media (max-width: 40.625em) {
  .info__learning h2 {
    text-align: center;
    margin: 0 auto;
  }
}
.info__learning p {
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #282828;
}
.info__learning p a {
  text-decoration: underline;
  color: #3A5AC8;
}
.info__learning p span {
  font-family: MullerBold;
}
@media (max-width: 40.625em) {
  .info__learning p {
    text-align: center;
  }
}

.info__price h1 {
  margin: 0.75em 0 0.3125em 0;
  font-size: 1.5rem;
  font-family: MullerBold;
  color: #FF3B30;
}
@media (max-width: 40.625em) {
  .info__price h1 {
    text-align: center;
  }
}
.info__price h2 {
  font-size: 0.75rem;
  color: #282828;
  opacity: 0.5;
  background: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 40.625em) {
  .info__price h2 {
    margin: 0 auto;
  }
}

.tr__first {
  background: rgba(58, 90, 200, 0.15);
  text-align: center;
}
.tr__first th {
  padding: 0.5em 1.0625em;
  font-size: 0.8125rem;
  color: #000;
  line-height: 1.6;
}
.tr__first th h1 {
  font-family: MullerBold;
  margin: 0;
}
.tr__first.second {
  background: rgba(58, 90, 200, 0.05);
}

.info__file {
  display: flex;
  align-items: center;
  max-width: 205px;
  margin-bottom: 0.75em;
}
.info__file img {
  transition: all 0.3s ease;
}
.info__file:hover .file__title {
  text-decoration: underline;
}
.info__file:hover img {
  transform: scale(1.2);
}
@media (max-width: 40.625em) {
  .info__file {
    justify-content: center;
    margin: 0 auto 1.25em auto;
  }
}

.file__info {
  margin-left: 0.5em;
}

.file__title {
  font-size: 0.8125rem;
  font-family: MullerMedium;
  color: #3A5AC8;
}

.file__param {
  margin-top: 0.625em;
  font-size: 0.75rem;
  opacity: 0.8;
  color: #282828;
}